
/* =========Agrega el estilo del encabezado donde esta el logo de la Universidad y los datos de el estudiante y profesor */
body { 
  margin: 0;
  padding: 0;
  background-position: center;
  font-family: sans-serif;
  background-size: cover;
}
.header {
  background: rgb(9, 61, 70);
  height: 115px;
  box-sizing: border-box;
  text-align: center;
}
.imagen1{
  width:250px;
  height:90px;
 } 

.header-left { 
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.header-right { 
  float: right;
  margin-top: 10px;
}
.header-right h3{ 
  text-align: center;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.header-C {
  text-align: center;
}
.header-C h1{
  margin-top: 10px; 
  color: rgb(146, 19, 19);
}

.header-C h6{
  margin-top: 0px;
  color: white;
}

/* =======================================Transforma Letras tipo h6 con brillo =============================================== */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
h6 {
  font-size: calc(3px + 3vh);
  line-height: calc(4px + 4vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  }
@-webkit-keyframes blink {
  20%,24%,55% {
               color: #111;
               text-shadow: none;
              }
  0%,19%,21%,23%,25%,54%,56%,100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;color: #fff6a9;
  }
}
@keyframes blink {
                 20%,24%,55% {
                 color: #111;
                 text-shadow: none;
                 }

  0%,19%,21%,23%,25%,54%,56%,100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
/* =======================================Final de configuración que Transforma Letras tipo h6 con brillo =============================================== */
/*=======================================Termina el estilo del encabezado =============================================== */


/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH      Inicia Diseño del menu  HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
.navegacion{
	width: 100%;
	background: #1C1C1C;
  text-align: left;
	display: flex;
	justify-content: center;
}
.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 40px;
}
.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}
.menu .first-item{
	border-left: 1px solid #363636;
}
.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
.menu .imagen{
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;
	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}
.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #1C1C1C;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 115%;
}
.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}
span:nth-child(2)/*Edita el menu */
{
 font-size: 26px;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH  Fin Diseño del menu*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH/


/*Diseño relog    /* text-align: right;*/
span{
  display: block;
  text-align: center; 
}
span:nth-child(1){
  line-height: 35px;
}
/*Fin Diseño relog*/



*{ 
	margin: 0;
	
}

.cont1{
	width: 100%;
	height: 300px;
	}

.fondo{
	width: 100%;
	height: 300px;
	position: absolute;
	}

.cont2{
	width: 100%;
	height: 300px;
	position: absolute;
	background: rgba(0,31,63,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	}


.titulo1 , .titulo2 , .titulo3  {
color: white;
font-size: 40px;
margin: 0 20px;
border: 1px solid white;
padding: 15px;

}
@keyframes title{
0%{
opacity: 0;
}

50%{
color: red;
}
100%{
opacity: 1;
}

}

.uno{
	width: 780px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
  color: #4682b4;
  position: absolute;
}

.parrafo{
  font-size: x-large;

	color: white;
	text-align: justify;
}





*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img{
	width: 100%;
}

.portafolio{
	width: 90%;
	max-width: 1400px;
	margin: auto;
}

.portafolio h1{
	text-align: center;
	font-size: 38px;
	margin: 15px 0px 40px;
}

.portafolio-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.portafolio-item{
	width: 30%;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

.portafolio-img{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.portafolio-text{
	position: absolute;
	bottom: 0;
	padding: 20px;

	background: rgba(0,0,0,0.7);
	color: #fff;

	-webkit-transform: translateY(100%);

	-ms-transform: translateY(100%);

	transform: translateY(100%);

	-webkit-transition: all 0.5s ease-out;

	transition: all 0.5s ease-out;
}

.portafolio-text p{
	text-align: justify;
}

.portafolio-item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
